<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <span>app</span>
    </a>
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link" (click)="profile()">
            <b>{{Username}}</b>
        </button>
        <button class="p-link layout-topbar-button" (click)="signOut()">
            <i class="pi pi-sign-out"></i>
            <span>Sign Out</span>
        </button>
    </div>
</div>
<p-dialog [(visible)]="signOutDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to sign out?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="signOutDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmSignOut()"></button>
    </ng-template>
</p-dialog>