<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" 
				name="APIRequestResponse"
				fileName="${basedir}/logs/api-request-response/${date:format=yyyyMMdd}.log"
				archiveAboveSize="10485760"
				layout="${longdate} | ${mdc:item=API}" />
		<target xsi:type="File"
				name="TransIncomplete"
				fileName="${basedir}/logs/trans-incomplete/${date:format=yyyyMMdd}.log"
				archiveAboveSize="10485760"
				layout="${longdate} | ${mdc:item=API}" />
		<target xsi:type="File"
				name="5000"
				fileName="${basedir}/logs/5000/${date:format=yyyyMMdd}.log"
				archiveAboveSize="10485760"
				layout="${longdate} | ${mdc:item=API}" />
		<target xsi:type="File" 
				name="Exception"
				fileName="${basedir}/logs/exception/${date:format=yyyyMMdd}.log"
				archiveAboveSize="10485760"
				layout="${longdate} | ${mdc:item=API}" />
	</targets>

	<rules>
		<logger name="APIRequestResponse" minlevel="Trace" writeTo="APIRequestResponse" />
		<logger name="TransIncomplete" minlevel="Trace" writeTo="TransIncomplete" />
		<logger name="5000" minlevel="Trace" writeTo="5000" />
		<logger name="Exception" minlevel="Trace" writeTo="Exception" />
	</rules>
</nlog>